@inherits PanelComponent
@namespace Nodebox

<root>
    <label id="title">Spawn Node</label>
    <div id="list">
        @foreach (var entry in ShownEntries)
        {
            <Node3dSpawnMenuButton Entry=@entry></Node3dSpawnMenuButton>
        }
    </div>
</root>

@code
{
    public IEnumerable<Library.Entry> ShownEntries =>
        Library.Entries
            .Where(x => !x.Initialized)
            .Where(x => !x.Polymorphic || x.PolymorphParent == null);

    
	// protected override int BuildHash() => System.HashCode.Combine( );
}