@inherits PanelComponent
@namespace Nodebox

<root>
    <label id="title">Spawn Node</label>
    <div id="list">
        @foreach (Library.Entry entry in Library.Entries)
        {
            <Node3dSpawnMenuButton Entry=@entry></Node3dSpawnMenuButton>
        }
    </div>
</root>

@code
{
    public Library Library { get; set; }
	protected override int BuildHash() => System.HashCode.Combine( Library );
}