$primary-color: rgb(17, 17, 17);
$header-color: rgba(255, 255, 255, 0.02);
$footer-color: rgba(255, 255, 255, 0.01);

Node3dPanel {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $primary-color;
	font-weight: bold;
	border-radius: 16px;
	overflow: hidden;
	font-family: Poppins;
	color: white;
	flex-direction: column;
	pointer-events: all;

	#header {
		position: relative;
		width: 100%;
		
		font-size: 14px;
		height: 24px;
		
		justify-content: center;
		align-items: center;

		background-color: $header-color;
	}

	#body {
		position: relative;
		width: 100%;
		flex-grow: 1;
	}

	#footer {
		position: relative;
		width: 100%;
		
		font-size: 15px;
		height: 1.4em;
		
		justify-content: center;
		align-items: center;

		background-color: $footer-color;
		color: #555;
	}

	#center {
		position: relative;
		width: 100%;
		pointer-events: none;
	}

	.pins {
		position: absolute;
		top: 0;
		bottom: 0;
		justify-content: flex-start;
		margin: 8px 0px;
		font-size: 15px;
		flex-direction: column;
	}

	.pin {
		margin: 4px 0px;
	}

	#outputs {
		right: 0;
		text-align: right;
	}
	
	.pin.output {
		justify-content: flex-end;
	}

	.pin-name-container {
		position: relative;
		flex-direction: column;
	}

	.input .pin-name-container {
		bottom: 5px;
	}

	.output .pin-name-container {
		flex-direction: column-reverse;
		top: 5px;
	}

	.pin-name-container label {
		flex-shrink: 1;
	}

	.pin-container {
		justify-content: center;
		align-items: center;
		pointer-events: all;
	}
}